a {
  color: blue;
  font-size: 1.2em;
}
a:hover {
  color: #f57c20;
}
input[type="password"] {
  margin: 1em 1em 0 0;
}
button {
  padding: 0.5em 0.7em 0.5em 0.7em;
  margin: 0 0.5em 0 0.5em;
  border: 0;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 0.6em;
}
div#incorrect {
  margin-top: 1em;
  color: #fa1313;
}
.hidden {
  display: none;
}
div#main {
  width: 20%;
  padding: 1em;
  background-color: lime;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto 0 auto;
}
ul {
  margin-left: 2em;
}
li {
  margin-bottom: 0.8em;
}
h1 {
  color: darkorange;
  text-align: center;
}
